:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    rgb(158, 60, 109); /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #502626; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #996673; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  font-family: 'Lexend Exa';
}
#workList {
  color: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  height: 300px;
}


#home_banner_container {
  background-image: linear-gradient(to bottom,         
  #494e6e, #165791);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}